@import "~bulma/sass/utilities/_all";
$primary: #16252f;
$primary-invert: findColorInvert($primary);
$twitter: #021730;
$twitter-invert: findColorInvert($twitter);
$background: #060606;
$navBarEnd: mix($primary, $background, 75%);
$navBarSize: 75px;

$primary-2: lighten($primary, 27%);
$primary-2-invert: findColorInvert($primary-2);
