@import "~bulma/sass/utilities/_all";
$primary: #16252f;
$primary-invert: findColorInvert($primary);
$twitter: #021730;
$twitter-invert: findColorInvert($twitter);
$background: #0c0c0c;
$navBarEnd: mix($primary, $background, 75%);
$navBarSize: 3rem;
$primary-1: lighten($primary, 6%);
$primary-1-invert: findColorInvert($primary-1);

$primary-2: lighten($primary, 27%);
$primary-2-invert: findColorInvert($primary-2);

$primary-3: lighten($primary, 40%);
$primary-3-invert: findColorInvert($primary-3);

$odd: lighten($primary, 3%);
$even: $primary-1;
