@import "~bulma/sass/utilities/_all";
$primary: #004f91;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$background: #f1f1f1;
$navBarEnd: mix($primary, $background, 75%);
$navBarSize: 75px;
